@use "../../../assets/styles/vars/colors" as *;
@use "../../../assets/styles/vars/common" as *;
.sidebar {
  position: fixed; /* Keep sidebar fixed during scroll */
  top: 0; /* Start from the top of the viewport */
  bottom: 0; /* Stretch to the bottom of the viewport */
  left: 0; /* Align to the left of the viewport */
  width: 0; /* Default to no width */
  overflow-y: auto; /* Scroll content vertically if necessary */
  overflow-x: hidden; /* No horizontal scroll */
  background-color: $primary_background_light;
  z-index: 30; /* High z-index to ensure it's above other content */
  transition: transform 0.3s ease-in-out; /* Smooth transition for opening and closing */
  transform: translateX(-100%); /* Hide by default */

  &__nav_bar {
    padding: 40px 0px 0px;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $light_gray;
      letter-spacing: 2px;

      li {
        flex: 1;
        position: relative;
        padding: 0 0 10px 0;
        text-align: center;
        color: $light_gray;
        font-size: 17.5px;
        @media (max-width: $small_phone_size) {
          font-size: 15.5px;
        }
        &.active_tab {
          color: $text_dark_gary;

          &::after {
            content: "";
            display: block;
            width: 100%;
            border-bottom: 2px solid $orange;
            border-radius: 5px;
            position: absolute;
            left: 0;
            bottom: -1.5px;
          }
        }
      }
    }
  }

  &__categories {
    padding: 40px 0px 0px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0px 20px 0px 34px;
      margin: 0;
      // font-weight: 600;

      &__subCategory {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding: 15px 0px 15px 50px;
        font-size: 17.5px;
        &__list {
          padding-bottom: 10px;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      letter-spacing: 2px;

      li {
        flex: 1;
        font-size: 17.5px;
        position: relative;
        padding: 0 0 10px 0;
        // text-align: start;
        color: $text_dark_gary;
      }
      li:active,
      li:hover {
        color: $orange;
        font-weight: 600;
      }
    }
  }
  @media (max-width: $regular_phone) {
    padding-top: 6vh;
  }
}

.sidebar.open {
  @media (max-width: $regular_phone) {
    width: 100%;
  }
  width: 450px;
  opacity: 1;
  transform: translateX(0);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.menu li {
  margin-bottom: 10px;
  /* Add more styling as needed */
}
