// text COLORS
$text_dark_gary: #333;
$text_light_gary: #888888;
$black: #000;
// LIGHT COLORS
$light_gray: #c4c4c4;


$orange : #DD8560;
// BACKGROUND VARIATIONS
$background: #faffff;
$white_background: #fff;
$primary_background: #e0f6f7;
$primary_background_light: #f0f0f0;;
$primary_background_light_gray: #c4c4c4;
$box_shadow_color: #badcdd69;
$nav_bar_transparent_gray:rgb(41 37 37 / 27%);

// FADED COLORS
$faded_black: rgba(0, 0, 0, 0.4);

//Unicorn Colors
$pastel_pink: #fbb9c5;
$pastel_orange: #fdd0b1;
$pastel_yellow: #f9efc7;
$pastel_green: #c3edbf;
$pastel_blue: #b8dfe6;
$pastel_purple: #c5bbde;
